.button-nueva-orden{
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

.button-nueva-orden:hover{
    -fx-background-color: #219653;
}

.button-generar-ordenes{
    -fx-min-width: 90px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
    -fx-transition: background-color 0.3s ease;
}

.button-generar-ordenes:hover{
    -fx-background-color: #2980b9;
}

.button-acciones{
    -fx-background-color: #11b3d3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 4 10;
    -fx-background-radius: 5;
}
.button-acciones:hover{
    -fx-background-color: #3aaab8;
}

.button-cancelar {
    -fx-min-width: 90px;
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
    -fx-transition: background-color 0.3s ease;
}
.button-cancelar:hover {
    -fx-background-color: #c0392b;
}
.alerta-personalizada {
    -fx-background-color: #ffffff; /* Fondo blanco o claro */
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 20;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
}
